@model LyricData.Models.SongLyric

@{
    ViewData["Title"] = "Create";
}



<h4>SongLyric</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
                <div class="form-group">
                 
                    <input asp-for="Title" class="form-control" placeholder="Title" required/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Artist" class="form-control" placeholder="Artist/Singer  Name" required/>
                    <span asp-validation-for="Artist" class="text-danger"></span>
                </div>
                <div class="form-group">
                 
                    <input asp-for="Image" class="form-control" placeholder="ImageUrl" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

            
            
                <div class="form-group">
                
                    <input asp-for="Views" class="form-control" placeholder="Views" required />
                    <span asp-validation-for="Views" class="text-danger"></span>
                </div>
                <div class="form-group">
                  
                    <input asp-for="Year" class="form-control" placeholder="Year" required/>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
               
                    <input asp-for="Lyrics" class="form-control" placeholder="Lyrics" required/>
                    <span asp-validation-for="Lyrics" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

    
           
           
        </form>
    </div>
</div>

<div>
    <a asp-action="Search">Back to search</a>

</div>

